

html{
    scroll-behavior: smooth;
}

html, body {

}


a.waves-effect{
    display: block;
}

a#newMovieWaves{
    display: inline-block;
}


.carousel .carousel-control-prev-icon {

    background-image: url("images/baseline-keyboard_arrow_left-24px.svg");
}

.carousel .carousel-control-next-icon {

    background-image: url("images/arrow.svg");
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgba(55, 84, 243, 0.75);
}


.randomMovieBody{
    background-image: url("images/movies2.jpg");
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 601px ) {
    .homeImage {
        position: relative;
        width: 100%;
        height: 650px;
        background-image: url("images/newBackground.jpg");
        background-size: cover;
    }
}

@media screen and (max-width: 600px ) {
    .homeImage {
        position: relative;
        width: 100%;
        height: 800px;
        background-image: url("images/palmTrees2.jpg");
        background-size: cover;
        background-position: center;
    }
}

.homeVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -35px;
}


@media screen and (min-width: 601px ) {
    .homeText h1 {
        position: absolute;
        width: 100%;
        top: 30%;
        font-size: 100px;
    }
}

@media screen and (min-width: 601px ) {
    .homeText h6 {
        position: absolute;
        width: 100%;
        top: 50%;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px ) {
    .homeText h1{
        position: absolute;
        width: 100%;
        top: 30%;
        font-size: 60px;
    }
}

@media screen and (max-width: 600px ) {
    .homeText h6 {
        position: absolute;
        width: 100%;
        top: 43%;
        font-size: 13px;
    }
}

.homeText h1{
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 600;
    text-shadow: 2px 2px 8px #0000009c;
    color: #ffffff;
}

.homeText h6{
    text-align: center;
    font-family: "SF-Pro-Text-Semibold.otf";
    color: #ffffff;
}

#section07 a {
    padding-top: 80px;
}


#section07 a span {
    position: absolute;
    top: 400px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}


#section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
    top: 420px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
    top: 440px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.NewMoviesContainer{
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    margin-top: -60px;
}

.inTheatre{
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
}

@font-face {
    font-family: SF Pro Display Bold;
    src: url(fonts/SF-Pro-Display-Medium.otf);
}


#spanNavIdOne {
    position: absolute;
    color: black;

}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

#movieInfoDiv {
    position: relative;
    padding-top: 20px;
}

#videoBlock {

}

#randomMovieHeader {
    font-family: "SF Pro Display";
    text-align: center;
}

.material-icons:hover {
    color: red;
    z-index: 2001;
}

.share{
    display:block;
    margin-top: 200px;
    width:100px;
    height:100px;
    background: white;
    position:absolute;
    top:300px;
    left:50%;
    z-index:999;
    text-align:center;
    overflow:hidden;
    color: black;
    -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    border-radius:50px;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.share:hover{
    cursor:pointer;
}

.one, .two, .three{
    position:absolute;
    margin-top: 200px;
    width:80px;
    height:80px;
    border-radius:50px;
    top:300px;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.2);
    box-shadow: 0px 3px 9px rgba(0,0,0,.2);
    -webkit-transition:transform  .3s ease-in-out;
    transition:transform .3s ease-in-out;
}

.one:hover,
.two:hover,
.three:hover{
    cursor:pointer;
}


.one{
    background: white;
}

.one .homeOne {
    text-align: center;
    font-family: "SF Pro Display";
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.two{
    background: white;
}

.two .homeTwo {
    text-align: center;
    font-family: "SF Pro Display";
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.three{
    background: white;
}

.three .homeThree {
    text-align: center;
    font-family: "SF Pro Display";
    display: block;
    margin: 0 auto;
    padding: 10px;
}


.tvContainer .navbar-nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: linear-gradient(to right, black , grey);
    padding: 15px 15px 15px 15px;
}


hr p {
    color: white;
}

.searchBtnDiv{
    text-align: center;
}


.searchContainer img {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    background: linear-gradient(to right, black , grey);
    text-align: center;
    padding: 15px 15px 15px 15px;
}

.topnav a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "SF Pro Display";
}


.topnav a:hover {
    color: red;
}


.card-header {
    font-family: "SF Pro Display";
    text-align: center;
    font-size: 25px;
    color: white;
}



#videoDiv {
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
}

#videoBlock {
    overflow: hidden;
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#videoMessage {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

#videoMessage h1 {
    font-family: "SF Pro Display";
    font-size: 100px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 0;
    color: white;
}

#videoMessage h3 {
    font-family: "SF Pro Display";
    font-size: 25px;
    text-align: center;
    padding: 0;
    color: white;
}

.nameSearchTitle h1 {
    font-family: "SF Pro Display";
    font-size: 80px;
    text-align: center;
    color: black;
}

@font-face {
    font-family: burbank;
    src: url(fonts/burbank.otf);
    /*font-family: SF-Pro-Text-Semibold.otf;*/
    src: url(fonts/SF-Pro-Text-Semibold.otf);
}

.card-header {
    color: black;
}

.nameSearchLink {
    background: none;

}

.nameSearchLink #learnMore {
    background-color: white;
    color: black;
    border-color: white;
    width: 120px;
    height: auto;
    align-content: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.nameSearchLink button {
    background-color: white;
    color: black;
    border-color: white;
    width: 50%;
    margin-bottom: 20px;
    height: auto;
    text-decoration: none;

}

.nameSearchLink a {
    text-decoration: none;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.contentTwo {
    position:relative;
    bottom:50%;
    width: 100%;
    height:100%;
    font-size:30px;
    color:black;
    background-color: rgba(255,255,255,0.2);
    padding: 100px 100px 100px 100px;
}

.cardTwo {
    margin: 0 auto;
    background: linear-gradient(to bottom, skyblue , white);;
    color: black;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    opacity: 1;
    animation: fade 2s linear;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.contentThree {
    background-color: rgba(0,0,0,0.2);
    display: block;
    position: relative;
    padding: 100px 100px 100px 100px;
}

.contentThree .cardThree {
    margin: 0 auto;
    background: linear-gradient(to bottom, skyblue , white);;
    color: black;
    width: 50%;
    height: auto;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    opacity: 1;
    animation: fade 2s linear;
}


.contentFour {
    background-color: rgba(255,255,255,0.2);
    display: block;
    position: relative;
    padding: 100px 100px 100px 100px;
}

.contentFour .cardFour {
    margin: 0 auto;
    background: linear-gradient(to bottom, skyblue , white);;
    color: black;
    width: 50%;
    height: auto;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    opacity: 1;
    animation: fade 2s linear;
}


header h1 {
    text-align: center;
    color: black;
    font-family: "SF Pro Display";
    padding: 20px;
    font-size: 100px;
}

.display-3 {
    text-align: center;
    color: white;
    font-family: "SF Pro Display";
    padding: 20px;
    font-size: 80px;
}

.overviewText{
    text-align: left;
    text-indent: 40px;
    color: black;
    font-family: "Helvetica";
    font-size: 17px;
    padding: 30px;
    vertical-align: middle;
    display: table-cell;
}

.overviewDiv{
    width: fit-content;
    height: fit-content;
    display: -webkit-inline-box;
    margin: auto;
}

.overviewTitle{

    padding-left: 50px;
    margin-top: 10px;
    font-family: helvetica;
    font-weight: 400;
}

.modal-dialog{
    max-width: 600px !important;
    background-color: #ffffff;
}

.modalDate{
    font-family: "SF Pro Display";
    color: #ffffff;
}

.modalTitle{
    font-family: "SF Pro Display";
    font-weight: bold;
    padding-top: 20px;
    color: #ffffff;
}

.modal-content{
    height: auto;
}

#modalCloseBtn{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    float: right;
    right: 10px;
}

#modalCloseBtn2{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    float: right;
    right: 10px;
}

#modalCloseBtn3{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    float: right;
    right: 10px;
}

.modalHeader{
    background-color: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    text-align: center;
}

.modalHeader2{
    background-color: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
}

.modalHeader3{
    background-color: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
}

.movieRatings{

    font-family: "Helvetica";
    font-size: 18px;
    text-align: left;


}


.nameDiv {
    margin: 100px 100px 300px 100px;
    position: relative;
}

.nameDiv span {
    display: block;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 80px;
}

.nameDiv img {
    width: 35%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    opacity: 1;
    animation: fade 2s linear;
}

.nameDiv #firstLine {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

.nameDiv ul {
    text-align: left;
    font-family: "SF Pro Display";
    font-size: 20px;
}

.nameDiv p {
    font-size: 20px;
    padding: 20px;
    text-indent: 50px;
}


.movieContainer {
    width: 25%;
    height: auto;
    position: relative;
    margin: 0 auto;
    border-color: black;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    display: block;
    /*background-color: #ffffff;*/
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.movieContainer img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 10px;
}

.randomMovieContainer{
    width: 100%;
    height: 500px;
    padding-top: 20px;
    position: relative;
    border-color: black;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    display: block;
    background-size: 100%;
}

.randomMovieContainer img{
    display: inline-block;
}

.randomMovieContainer .movieContainer{
    position: relative;
    display: inline-block;
    /* if you need ie6/7 support */
    *display: inline;
    zoom: 1;
}

/*#movieImg:hover {*/

/*background-color: rgba(0, 0, 0, 0.5);*/
/*}*/


.movieContainer span {
    display: block;
    text-align: center;
    color: #000000;
}

.movieContainer span:hover{
    color: #6e9ce5 !important;
}

.movieContainer ul {
    text-align: left;
    font-family: "SF Pro Display";
    font-size: 20px;
}

.movieContainer p {
    font-size: 20px;
    padding: 0 20px 0 20px;
    color: black;
    text-indent: 50px;
    text-align: left;
}

.movieContainer h3 {
    font-family: "SF Pro Display";
    font-size: 20px;
    color: black;
    text-align: center;
}

.tvContainer {
    width: 25%;
    height: auto;
    position: relative;
    margin: 0 auto;
    border-color: black;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    display: block;
    /*background-color: #ffffff;*/
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.tvContainer img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 10px;
}

.tvContainer ul {
    text-align: left;
    font-family: "SF Pro Display";
    font-size: 20px;
}

.tvContainer p {
    font-size: 20px;
    padding: 20px;
    color: black;
    text-indent: 50px;
}

.tvContainer span {
    display: block;
    text-align: center;
    color: #000000;
}

.tvContainer span:hover{
    color: #6e9ce5 !important;
}

.tvContainer p {
    font-size: 20px;
    padding: 20px;
    color: black;
    text-indent: 50px;
    text-align: left;
}

.randomButtonDiv {
    padding-top: 40px;
}

.md-form label.active {
    font-size: 15px;
}

.welcomeIntro{

    z-index: 200;
    color: #ffffff;
    left: 30%;
    font-size: 40px;
    font-family: "SF Pro Display";
}

.randomTvContainer{
    width: 100%;
    height: 500px;
    padding-top: 20px;
    border-color: black;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    display: block;
    background-size: 100%;
}

.randomTvBody{
    background-image: url("images/tvBackground.jpg");
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-image: url("images/building.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    transition: 0.3s;
}



.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    width: fit-content;
    float: right;

}

.sidenav .closebtn:hover{
    width: auto;
    color: #ff0000;
}

@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}

#link1:hover{
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
}

#link2:hover{
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
}

#link3:hover{
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
}

#link4:hover{
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
}

#link1:hover{
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
}


.sideNavLogo{
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 80px;
}


.backgroundOverlay{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#personCard{
    width: 22rem;
    margin: 0 auto;
    margin-top: 200px;
}

#personName{
    font-family: "SF Pro Display";
    font-size: 40px;
}

#firstSlide img{

    margin: 10px;
}

#secondSlide img{
    margin: 10px;
}

#thirdSlide img{

    margin: 10px;
}

#fourthSlide img{

    margin: 10px;
}

#fifthSlide img{

    margin: 10px;
}

#firstSlide1 img{
    margin: 10px;
}

#secondSlide2 img{
    margin: 10px;
}

#thirdSlide3 img{
    margin: 10px;
}

#fourthSlide4 img{
    margin: 10px;
}

#fifthSlide5 img{
    margin: 10px;
}



.carousel-indicators li{
    background-color: rgba(121, 121, 130, 0.5);
}

.introImageOne{
    width: 100%;
    height: 580px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    background-image: url("images/starwars.jpg");
    background-size: cover;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);

}

.introImageTwo{
    width: 100%;
    height: 580px;
    margin-top: 20px;
    background-image: url("images/got.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.introImageThree{
    width: 100%;
    height: 580px;
    margin-top: 20px;
    background-image: url("images/walle.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.randomNameSearchTitle{
    padding-left: 3%;
    margin-top: 15%;
    color: #ffffff;
    font-size: 80px;
    z-index: 2;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px #0000009c;
}


.randomMoviesTitle{
    padding-left: 3%;
    margin-top: 25%;
    color: #ffffff;
    font-size: 80px;
    z-index: 2;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px #0000009c;}

.randomTvShowTitle{
    padding-left: 51%;
    margin-top: 15%;
    color: #ffffff;
    font-size: 80px;
    z-index: 2;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px #0000009c;}

.carousel-control-prev{
    position: absolute;
    top: 50%;
    margin-left: 5%;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    width: fit-content;
    height: fit-content;
}

.carousel-control-next{
    position: absolute;
    top: 50%;
    margin-right: 5%;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    width: fit-content;
    height: fit-content;
}